/*Cell styling */
.cell {
    margin-bottom: 5px !important;
}
.cell-body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 10px;
}

.cell-body img {
    object-fit: contain;
    height: 100%;
    width: 90%;
}

.cell>.cell-heading {
    padding: 5px 5px;
    /* color: white; */
    font-weight: bold;

    /* background-color: black;
    background-image: none;
    border-color: orange; */
}

.cell-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.config-btn {
    /* color: orange;
    background-color: black; */
    border-style: none;
    text-shadow: none;
}

.config-btn:hover {
    /* color: white;
    background-color: black; */
}

.config-btn:focus {
    /* color: orange;
    background-color: black; */
    border-style: none;
    text-shadow: none;
}

.config-btn:active {
    /* color: orange;
    background-color: black; */
    border-style: none;
    text-shadow: none;
}

.cellInfo {
    /* color: black; */
}