/*Cell styling */
.cell {
    margin-bottom: 5px !important;
}
.cell-body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.cell-body img {
    object-fit: contain;
    height: 100%;
    width: 90%;
}

.cell>.cell-heading {
    padding: 5px 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
    background-image: none;
    border-color: orange;
}

.config-btn {
        color: orange;
        background-color: black;
        border-style: none;
        text-shadow: none;
    }
    
.config-btn:hover {
    color: white;
    background-color: black;
}

.config-btn:focus {
    color: orange;
    background-color: black;
    border-style: none;
    text-shadow: none;   
}

.config-btn:active {
    color: orange;
    background-color: black;
    border-style: none;
    text-shadow: none;
}