/*Cell styling */
.cellBody {
    border:#FFA500;
    border-style: solid;
    background-color:white;
    width: inherit;
    height: inherit;
    position: absolute;
    box-shadow: 0px 10px 3px #888888;
    font-family: sans-serif;
    font-size: 14px;
    float:left;      
}
.panel {
    margin-bottom: 5px !important;
}
.panel-body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.panel-body img {
    object-fit: contain;
    height: 100%;
    width: 90%;
}
.cellTitle {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 25px;
    background-color:white;

}

.panel-default>.panel-heading {
    padding: 5px 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
    background-image: none;
    border-color: orange;
}

.cellDescr { 
    background-color: whitesmoke;
    white-space: pre-line;  
    height: 20px;
    
}


.cellCreator {
    white-space: pre-line;  
    width: 100%;
    background-color:white;
    
}


.refitContent {
    background-color:#00aad9; 
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
             
}


.iframeContainer {
    position: absolute;
    height: 100%;
    width: 100%;

}


.cellData {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
               
}


.cellDate {
    background-color: orange;
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0;
}

