.cell {
   
        background-color: blueviolet;
        width: 280px;
        height: 110px;
        padding-top: 35px;
        margin: 0 auto;
        margin-top: 40px;
        box-shadow: 0px 10px 3px #888888;
      
      


}