
.cell {
        border:#FFA500;
        border-style:outset;
        background-color:whitesmoke;
        width: inherit;
        height: inherit;
        box-shadow: 0px 10px 3px #888888;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
      
}


.cellTitle{
    font-size: 25px;
    background-color:white;
}

.cellTimeOfCreation {
    width: inherit;
    background-color:#FFA500;
    position:absolute;
    bottom:0;
    
}

.cellData{
    width: inherit;
    height: inherit;
    


}

.cellCreator{
    background-color:white;
}