.Navbar {
    background: Grey;
    color:black; 
} 

.navbar-inverse {
    margin-bottom: 0px;
    /*Removes bootstraps rounded corners in the navbar*/
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;      
}
.navbar-inverse .navbar-nav>li>a {
    color: orange;
}
.navbar-inverse .navbar-brand {
    color: orange;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #323232;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu>li>a:hover{
    color: orange;
}

.dropdown-menu>li:hover{
    background-color: grey;
}

.container {
    width: 95%;
}