.Navbar {
    background: Grey;
    color:black; 
} 

.navbar-inverse .navbar-nav>li>a {
    color: orange;
}
.navbar-inverse .navbar-brand {
    color: orange;
    font-weight: bold;
}

.dropdown-menu {
    background-color: rgb(241, 185, 112);
}

.dropdown-menu>li>a {
    font-weight: bold;
}

.container {
    width: 95%;
}